*.gitignore linguist-language=Git linguist-vendored=false
*.json linguist-language=JSON linguist-vendored=false
*.md linguist-language=Markdown linguist-vendored=false
*.py linguist-language=Python linguist-vendored=false
*.sh linguist-language=Bash linguist-vendored=false
*.txt linguist-language=Text File linguist-vendored=false
*.wsgi linguist-language=Wsgi linguist-vendored=false
*.yml linguist-language=YAML linguist-vendored=false
Dockerfile linguist-language=Docker linguist-vendored=false
docker-compose.yml linguist-language=Docker linguist-vendored=false
